@import "@fortawesome/fontawesome-free/css/all.min.css";
/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Open+Sans&display=swap');

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your global styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Other custom styles */

a {
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

.relative .absolute {
  z-index: 10;
}

.shadow-md {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.line-through {
  text-decoration: line-through;
}

.text-green-600 {
  color: #16a34a;
}
